*.pkl
*.csv
*.txt
*.pth
*.json
*.out
*.pdf
*.html

documents

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
exp_note/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Environment
.env

# Logs and Datasets
logs_v4/
logs/
Dataset/
sample/
sample.zip
xpass_v4_essentials.zip
models_pth/
reports/
